*{
     box-sizing: border-box;
   }

body {
    background-color: #1f2127;
    font-family: 'Droid Sans Mono', Menlo, monospace;
    font-weight: 300;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}
a {
    color: #2FAADF
}
a:hover {
    color: #90B762;
}
b, strong {
    font-weight: 100;
}

/*================================helloblock==============================*/

.sayhello {
    text-align: center;
}
.typewriting {
    margin: auto;
    line-height: 100vh;
    font-size: 18pt;
    color: #b5b5b5;
}
.typewriting::before {
    content: '< ';
    line-height: 40px;
    color: #b5b5b5
}
.typewriting::after {
    content: ' >';
    line-height: 40px;
    color: #b5b5b5;
}
.typed-cursor {
    display: none;
}

/*=====================about ===================*/

.aboutskills {
    text-align: center;
    min-height: 650px;

}

/* About Block */

.aboutsection {
    color: rgb(181, 181, 181);
    margin-top: 7em;
}
.aboutheader {
    padding-left: 5%;
    text-align: left;
    font-size: 12pt;
    color: #E59C5E;
    background-color: rgba(39, 42, 51,0.5);
}
.aboutblock {
    padding-left: 11%;
    padding-right: 11%;
    text-align: left;
    margin-top: 50px;
    font-size: 12pt;
    border-left:  solid 1px  rgba(39, 42, 51,0.5);


}
.bracket-open {
    color: #b5b5b5;
    font-size: 12pt;

}
.bracket-close {
    color: #b5b5b5;
    font-size: 12pt;
    text-align: left;
    padding-left: 5%;
}
.myskills {
    display: block;
    margin-left: -6%;
    color: #E59C5E;
    text-align: left;
    font-size: 12pt;
    margin-top: 5%;
}

/*===============================progress bar====================================*/

.tooltip {
    /*position: relative;
            float: right;*/
    display: none;
}
.tooltip> .tooltip-inner {
    background-color: #7e57c2;
    padding: 5px 15px;
    color: rgb(23, 44, 66);
    font-weight: bold;
    font-size: 13px;
}
.popOver+ .tooltip> .tooltip-arrow {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid #7e57c2;
    /*opacity: 0.7*/
}
.progress {
    border-radius: 0;
    overflow: visible;
    background-color: rgba(126, 87, 194, 0);
    height: 16px;
    width: 85%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    background: #61CFD6;
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
    -webkit-box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.7);
    box-shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.7);
}
.progress-bar-wrapper {
    padding: 12px;
    color: #5FC7CD;
    text-align: left;
}

.progress-bar-wrapper .progress-bar {
    background: #5FC7CD;
}
.triangle {
    color: #474449;
}
.colortext {
    color: #F3707C;
}

/*==========contact===========*/

.contact {
    text-align: center;
}

/*contact*/

.contact {
    margin-top: 2em;
}

.contactheader {
    margin-bottom: 10px;
    color:#2FAADF;
}

/* Contact form */

form {
    max-width: 360px;
    margin: 50px auto;
}
form p {
    font-size: 15px;
}
.feedback-input {
    color: #6D6D6D;
    font-weight: 500;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #2FAADF;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 80%;
    box-sizing: border-box;
    outline: 0;
}
.feedback-input:focus {
    border: 1px solid #90B762;
}
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
input[type="submit"] {
    width: 80%;
    background: transparent;
    border: 1px solid #2FAADF;
    cursor: pointer;
    color: #2FAADF;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    font-weight: 100;
}
input[type="submit"]:hover {
    border: 1px solid #90B762;
    color: #90B762;
}

/* Social */

.social {
    margin: 0 auto;
}
.social-button {
    padding: 0 10px;
}

.onetag {
    margin: 14% auto;
    color: #90B762;
    font-size: 10pt;
}
.onetag:before {
    content: '</ ';
    line-height: 40px;
    color: #b5b5b5
}
.onetag:after {
    content: ' >';
    line-height: 40px;
    color: #b5b5b5;
}
