
@media screen and (max-width: 320px) {
    #home p {
        font-size: 14pt;
    }
    .aboutsection {
        margin-top: 1em;
    }
    .aboutheader {
        font-size: 8pt;
    }
    .aboutblock {
        font-size: 8pt;
        margin-top: 1em;
    }
    .bracket-open {
        font-size: 8pt;
    }
    .bracket-close {
        font-size: 8pt;
    }
    .barWrapper1 {
        padding: 0px;
    }
    .progress-bar {
        height: 55%
    }
    .progress {
      margin-bottom: 1em;
    }
    .contact {
      margin-top: -1em;
    }
    .contactheader p {
      font-size: 10pt;
    }
    .feedback-input {

      padding: 8px;

    }
    .social {
      margin-top: -28px;
    }
    .onetag {
      margin-top: 17px;
      font-size: 8pt;
    }
