
@media screen and (max-width: 320px) {

    #home p {
        font-size: 9pt;
    }
    .aboutskills div{
      width: auto;
      font-size: 9pt;

    }
    .aboutsection {
      margin-top: 3%;

    }

     .aboutblock {
       margin-top: 2%;

     }
     .contact div {
       font-size: 10pt

     }
    form p {
      font-size: 10pt;
      margin-top: 25%;

    }
    .onetag {
      margin-top: 6% auto;
    }

}

    @media screen and (max-width: 520px) {
      #home p {
          font-size: 14pt;
      }
      .aboutskills div{
        width: auto;
        font-size: 10pt;

      }
      .aboutsection {
        margin-top: 6%;

      }

       .aboutblock {
         margin-top: 5%;

       }
       .contact div {
         font-size: 8pt

       }
      form p {
        font-size: 10pt;
        margin-top: 25%;
      }
      .onetag {
        margin-top: 6% auto;
      }
    }

    @media screen and (max-width: 990px) {
      .aboutblock {
        margin-top: 3%;
    }
    .aboutsection {
      margin-top: 4%;

    }
