body {
    background-color:#212121 ;
    font-family: 'Inconsolata'
    font-weight: 300;
    font-size: 12px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/*================================helloblock==============================*/
.sayhello {

    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;

    top: 50%;
    left: 50%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.types:before {
    content: '<';
    left: 0;
    line-height: 40px;
}
.types:after {
    content: '>';
    line-height: 40px;
}

.types {
  margin: auto;
  top: 50%;
  line-height: 100vh;
  font-family:Menlo, monospace;
  color: #43BCDA;
  font-size: 18px;
}

.typed-cursor {
  display: none;
}

/*=====================about ===================*/
.aboutmyself {
font-family: Menlo, monospace;
width: 50%;
margin: 0 auto;
text-align: center;
font-size: 14px;
color: #A4A4A4;
}


.aboutskills {
    background: #212121;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.reality {
  background-color: rgba(88, 88, 88, 0.1);
  margin-right: -8px;
  margin-top: 65px;
  text-align: left;
}
.myskills {
margin-left: 13%;
color: #D672C5 ;
font-family: Menlo, monospace;
font-size:14px;
}
.colorid {
  color: #7141EA;
}
.ellipses {
  font-family: Times New Ronam;
  font-size: 26px

}
  )



/
.barWrapper ..tooltip.top {
    display: none !important;
}

/*===============================progress bar====================================*/
.tooltip {
    /*position: relative;
            float: right;*/
    display: none;
}

/*.tooltip > .tooltip-inner {
    background-color: #7e57c2;
    padding: 5px 15px;
    color: rgb(23, 44, 66);
    font-weight: bold;
    font-size: 13px;*/

    /*opacity: 1*/
}

.popOver + .tooltip > .tooltip-arrow {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid #7e57c2;
    /*opacity: 0.7*/
}

.progress {
    border-radius: 0;
    overflow: visible;
    background-color: rgba(126, 87, 194, 0);
    height: 16px;
    width: 85%;


}

.progress-bar {
    background: #7e57c2;
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
    -webkit-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.7);
-moz-box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.7);
box-shadow: -1px -1px 3px -1px rgba(0,0,0,0.7);


}

.tooltip {
    display: none !important;
}
.barWrapper1 {
  padding: 12px;
  font-family: Menlo, monospace;
  color: #12C6C1;
  text-align: left;


}
.barWrapper1 .progress-bar {
background: #12C6C1;
}


.triangle {
  color: #474449;
  margin-left: -1%;

}
.colortext {
  color: #AAB1B9;
}
.colortext1 {
  color: #AAB1B9;
  margin-left: -1%;
}
.progress-bars {
  padding: 8%;
  margin-top: -69px;

}

.comment {
  font-family: Menlo, monospace;
  font-size: 12px;
  margin-left: 12%;

}

/*==========contact===========*/
 .contact {
   text-align: center;
   font-family: Menlo, monospace;
 }
/*============================preloader2========================*/
.wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #212121;
}
.cssload-loader {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background: rgb(0, 0, 0);
}
.cssload-loader, .cssload-loader:before, .cssload-loader:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -ms-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before, .cssload-loader:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.cssload-loader {
    animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader;
}
@keyframes cssload-loader {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}
@-o-keyframes cssload-loader {
    from {
        -o-transform: scale(0);
        opacity: 1;
    }
    to {
        -o-transform: scale(1);
        opacity: 0;
    }
}
@-ms-keyframes cssload-loader {
    from {
        -ms-transform: scale(0);
        opacity: 1;
    }
    to {
        -ms-transform: scale(1);
        opacity: 0;
    }
}
@-webkit-keyframes cssload-loader {
    from {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
@-moz-keyframes cssload-loader {
    from {
        -moz-transform: scale(0);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1);
        opacity: 0;
    }
}
/*.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}*/
