body {
    background-color:#212121 ;
    font-family: 'Inconsolata'
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/*================================helloblock==============================*/
.sayhello {

    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;

    top: 50%;
    left: 50%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.types:before {
    content: '<';
    left: 0;
    line-height: 40px;
}
.types:after {
    content: '>';
    line-height: 40px;
}

.types {
  margin: auto;
  top: 50%;
  line-height: 100vh;
  font-family:Menlo, monospace;
}

.typed-cursor {
  display: none;
}

/*=====================about ===================*/
.aboutmyself {
font-family: Menlo, monospace;
width: 50%;
margin: 0 auto;
text-align: left;
}
.aboutskills {
    background: #212121;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.reality{
  font-weight: 100;
}
.colortext {
  color: #AAB1B9;
}

/
.barWrapper ..tooltip.top {
    display: none !important;
}

/*===============================progress bar====================================*/
.tooltip {
    /*position: relative;
            float: right;*/
    display: none;
}

/*.tooltip > .tooltip-inner {
    background-color: #7e57c2;
    padding: 5px 15px;
    color: rgb(23, 44, 66);
    font-weight: bold;
    font-size: 13px;*/

    /*opacity: 1*/
}

.popOver + .tooltip > .tooltip-arrow {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid #7e57c2;
    /*opacity: 0.7*/
}

.progress {
    border-radius: 0;
    overflow: visible;
    background-color: rgba(126, 87, 194, 0);
    box-shadow: inset 0 0px;
    height: 17px;


}

.progress-bar {
    background: #7e57c2;
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;


}

.tooltip {
    display: none !important;
}
.barWrapper1 {
  padding: 12px;
  font-family: Menlo, monospace;
  color: #12C6C1;
  text-align: left;


}
.barWrapper1 .progress-bar {
background: #12C6C1;
}
.barWrapper2 {
  padding: 12px;
  font-family: Menlo, monospace;
  color: #BA41B3;
  text-align: left;


}
.barWrapper2 .progress-bar {
background: #BA41B3;
}
.barWrapper3 {
  padding: 12px;
  font-family:Menlo, monospace;
  color:#E1B066;
  text-align: left;


}
.barWrapper3 .progress-bar {
background: #E1B066;
}

.barWrapper4 {
  padding: 12px;
  font-family: Menlo, monospace;
  color:#6F66E1;
  text-align: left;


}
.barWrapper4 .progress-bar {
background: #6B64C4;
}



/*============================preloader2========================*/
.wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #212121;
}
.cssload-loader {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background: rgb(0, 0, 0);
}
.cssload-loader, .cssload-loader:before, .cssload-loader:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -ms-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before, .cssload-loader:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.cssload-loader {
    animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader;
}
@keyframes cssload-loader {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}
@-o-keyframes cssload-loader {
    from {
        -o-transform: scale(0);
        opacity: 1;
    }
    to {
        -o-transform: scale(1);
        opacity: 0;
    }
}
@-ms-keyframes cssload-loader {
    from {
        -ms-transform: scale(0);
        opacity: 1;
    }
    to {
        -ms-transform: scale(1);
        opacity: 0;
    }
}
@-webkit-keyframes cssload-loader {
    from {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
@-moz-keyframes cssload-loader {
    from {
        -moz-transform: scale(0);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1);
        opacity: 0;
    }
}
